<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card p-3" style="width: 18rem;">
                <h5 class="card-title">Component One</h5>
                <p class="card-text">Some quick example component created using CLI.</p>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card p-3" style="width: 18rem;">
                <h5 class="card-title">Component One</h5>
                <p class="card-text">Some quick example component created using CLI.</p>
            </div>
        </div>
    </div>

</div>